.Footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
}

a.SelectMenu {
    font-size: 16px;
    font-weight: bold;
    color: #3366CC;
    text-decoration: none;
}

.SelectMenu {
    font-size: 16px;
    font-weight: bold;
    color: #3366CC;
}

.Login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

input.login {
    font-size: 11px;
    color: #000000;
}

.RightText {
    font-size: 12px;
}

.PO_Form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a.phonebook {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #660000;
    text-decoration: none;
}

.AfterLogin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.branch_big {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
